USE [master]
GO
/****** Object:  Database [QLnhasachpart2]    Script Date: 11/26/2025 5:00:48 PM ******/
CREATE DATABASE [QLnhasachpart2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLnhasachpart2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLnhasachpart2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLnhasachpart2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLnhasachpart2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLnhasachpart2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLnhasachpart2]
GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCong](
	[MaChamCong] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaCa] [int] NULL,
	[NgayLam] [date] NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GioLam] [float] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCa] [int] IDENTITY(1,1) NOT NULL,
	[TenCa] [nvarchar](50) NOT NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonVPP]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonVPP](
	[MaHD] [int] NOT NULL,
	[MaVPP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaCTN] [int] IDENTITY(1,1) NOT NULL,
	[MaHDN] [int] NULL,
	[MaSach] [int] NULL,
	[MaVPP] [int] NULL,
	[SoLuongNhap] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TongTien] [float] NULL,
	[MaNV] [int] NULL,
	[MaKH] [int] NULL,
	[KhuyenMaiApDung] [bit] NULL,
	[SoSachMua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhapKho]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhapKho](
	[MaHDN] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[NgayNhap] [date] NOT NULL,
	[TongSoLuong] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [varchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TongSoLuongMua] [int] NULL,
	[TongChiTieu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [varchar](20) NULL,
	[TaiKhoan] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[NgayVaoLam] [date] NULL,
	[LuongCoBan] [float] NULL,
	[MaQuyen] [int] NOT NULL,
	[ViTri] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[DonGia] [float] NULL,
	[SoLuong] [int] NULL,
	[NamXuatBan] [int] NULL,
	[Anh] [nvarchar](255) NULL,
	[KhuyenMai] [nvarchar](255) NULL,
	[ViTriKe] [nvarchar](50) NULL,
	[ViTriNgan] [nvarchar](50) NULL,
	[ViTriHang] [nvarchar](50) NULL,
	[MoTa] [ntext] NULL,
	[MaNXB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach_TacGia]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_TacGia](
	[MaSach] [int] NOT NULL,
	[MaTG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach_TheLoai]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_TheLoai](
	[MaSach] [int] NOT NULL,
	[MaTL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VanPhongPham]    Script Date: 11/26/2025 5:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanPhongPham](
	[MaVPP] [int] IDENTITY(1,1) NOT NULL,
	[TenVPP] [nvarchar](200) NOT NULL,
	[DonGia] [float] NULL,
	[SoLuong] [int] NULL,
	[NhaCungCap] [nvarchar](200) NULL,
	[NguongDatHang] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[Anh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangChamCong] ON 

INSERT [dbo].[BangChamCong] ([MaChamCong], [MaNV], [MaCa], [NgayLam], [GioVao], [GioRa], [TrangThai], [GioLam], [GhiChu]) VALUES (1, 2, 1, CAST(N'2025-11-13' AS Date), CAST(N'07:58:00' AS Time), CAST(N'16:01:00' AS Time), N'DUNG_GIO', 8, NULL)
INSERT [dbo].[BangChamCong] ([MaChamCong], [MaNV], [MaCa], [NgayLam], [GioVao], [GioRa], [TrangThai], [GioLam], [GhiChu]) VALUES (2, 2, 1, CAST(N'2025-11-14' AS Date), CAST(N'08:15:00' AS Time), CAST(N'16:00:00' AS Time), N'MUON', 7.75, N'Đi trễ 15 phút')
SET IDENTITY_INSERT [dbo].[BangChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[CaLamViec] ON 

INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [GhiChu]) VALUES (1, N'Ca Sáng', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Ca hành chính')
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [GhiChu]) VALUES (2, N'Ca Tối', CAST(N'16:00:00' AS Time), CAST(N'22:00:00' AS Time), N'Ca bán hàng tối')
SET IDENTITY_INSERT [dbo].[CaLamViec] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 1, 1, 89000, 89000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 2, 1, 105000, 105000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (2, 1, 1, 89000, 89000)
GO
INSERT [dbo].[ChiTietHoaDonVPP] ([MaHD], [MaVPP], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 1, 2, 5000, 10000)
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] ON 

INSERT [dbo].[ChiTietNhapKho] ([MaCTN], [MaHDN], [MaSach], [MaVPP], [SoLuongNhap]) VALUES (1, 1, 4, NULL, 100)
INSERT [dbo].[ChiTietNhapKho] ([MaCTN], [MaHDN], [MaSach], [MaVPP], [SoLuongNhap]) VALUES (2, 2, 5, NULL, 10)
INSERT [dbo].[ChiTietNhapKho] ([MaCTN], [MaHDN], [MaSach], [MaVPP], [SoLuongNhap]) VALUES (3, 3, 6, NULL, 10)
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [TongTien], [MaNV], [MaKH], [KhuyenMaiApDung], [SoSachMua]) VALUES (1, CAST(N'2025-11-14' AS Date), 204000, 2, 2, 0, 2)
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [TongTien], [MaNV], [MaKH], [KhuyenMaiApDung], [SoSachMua]) VALUES (2, CAST(N'2025-11-15' AS Date), 194000, 1, 4, 0, 2)
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [TongTien], [MaNV], [MaKH], [KhuyenMaiApDung], [SoSachMua]) VALUES (3, CAST(N'2025-11-15' AS Date), 105000, 1, 5, 0, 1)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonNhapKho] ON 

INSERT [dbo].[HoaDonNhapKho] ([MaHDN], [MaNV], [NgayNhap], [TongSoLuong], [GhiChu]) VALUES (1, 1, CAST(N'2025-11-16' AS Date), 100, N'Thêm mới: Doremon')
INSERT [dbo].[HoaDonNhapKho] ([MaHDN], [MaNV], [NgayNhap], [TongSoLuong], [GhiChu]) VALUES (2, 1, CAST(N'2025-11-16' AS Date), 10, N'Thêm mới: qoo bee')
INSERT [dbo].[HoaDonNhapKho] ([MaHDN], [MaNV], [NgayNhap], [TongSoLuong], [GhiChu]) VALUES (3, 1, CAST(N'2025-11-16' AS Date), 10, N'Thêm mới: qoobee2.0')
SET IDENTITY_INSERT [dbo].[HoaDonNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [DiaChi], [DienThoai], [GhiChu], [TongSoLuongMua], [TongChiTieu]) VALUES (1, N'Khách vãng lai', N'Tại cửa hàng', N'0000000000', N'Khách hàng mặc định', NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [DiaChi], [DienThoai], [GhiChu], [TongSoLuongMua], [TongChiTieu]) VALUES (2, N'Lê Văn Cường', N'789 Đường LMN, Quận 10', N'0912345678', N'Khách hàng thân thiết', NULL, 204000)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [DiaChi], [DienThoai], [GhiChu], [TongSoLuongMua], [TongChiTieu]) VALUES (3, N'Phạm Thị Duyên', N'101 Đường OPQ, Gò Vấp', N'0987654321', N'Khách hàng mới', NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [NgayVaoLam], [LuongCoBan], [MaQuyen], [ViTri]) VALUES (1, N'Lê Đức Việt', CAST(N'2004-06-25' AS Date), N'123 Đường ABC, Quận 1', N'0901234567', N'admin', N'$2a$10$n4r5pxk1DiCAzmMyVs/CaOYuBGAfWbrw1gEald7PVispjVJPPOCgi', CAST(N'2020-01-10' AS Date), 15000000, 1, N'MANAGER')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [NgayVaoLam], [LuongCoBan], [MaQuyen], [ViTri]) VALUES (2, N'Hiếu thứ 2', CAST(N'1998-10-22' AS Date), N'456 Đường XYZ, Quận 3', N'0907654321', N'staff', N'$2a$10$n4r5pxk1DiCAzmMyVs/CaOYuBGAfWbrw1gEald7PVispjVJPPOCgi', CAST(N'2023-03-01' AS Date), 7500000, 2, N'STAFF')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [NgayVaoLam], [LuongCoBan], [MaQuyen], [ViTri]) VALUES (5, N'cuong', CAST(N'2004-11-14' AS Date), N'123', N'12121212', N'staff2', N'$2a$10$.rY2Xa96Bw5oKVmZjN5xcO5spSCEiP.lRA9B38zJYPKPsS4WiI87q', CAST(N'2025-11-23' AS Date), 25000, 2, N'STAFF')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (1, N'NXB Trẻ', N'161B Lý Chính Thắng, P.7, Q.3, TP.HCM', N'02839316289')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (2, N'NXB Kim Đồng', N'Số 55 Quang Trung, Hai Bà Trưng, Hà Nội', N'02439434730')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (3, N'NXB Tổng Hợp TPHCM', N'62 Nguyễn Thị Minh Khai, P.Đa Kao, Q.1', N'02838225340')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [DonGia], [SoLuong], [NamXuatBan], [Anh], [KhuyenMai], [ViTriKe], [ViTriNgan], [ViTriHang], [MoTa], [MaNXB]) VALUES (1, N'Đắc Nhân Tâm', 89000, 140, 2019, N'dacnhantam.jpg', N'GIAM_10', N'A1', N'N2', N'H3', N'Cuốn sách kỹ năng sống kinh điển...', 2)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [DonGia], [SoLuong], [NamXuatBan], [Anh], [KhuyenMai], [ViTriKe], [ViTriNgan], [ViTriHang], [MoTa], [MaNXB]) VALUES (2, N'Cho Tôi Xin Một Vé Đi Tuổi Thơ', 105000, 196, 2010, N'vetuoitho.jpg', NULL, N'B2', N'N1', N'H1', N'Hồi ức tuổi thơ của Nguyễn Nhật Ánh...', 1)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [DonGia], [SoLuong], [NamXuatBan], [Anh], [KhuyenMai], [ViTriKe], [ViTriNgan], [ViTriHang], [MoTa], [MaNXB]) VALUES (3, N'Attack on Titan - Tập 1', 35000, 500, 2013, N'aot_1.jpg', NULL, N'C3', N'N5', N'H2', N'Manga hành động giả tưởng...', 2)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTG]) VALUES (1, 2)
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTG]) VALUES (2, 1)
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTG]) VALUES (3, 3)
GO
INSERT [dbo].[Sach_TheLoai] ([MaSach], [MaTL]) VALUES (1, 2)
INSERT [dbo].[Sach_TheLoai] ([MaSach], [MaTL]) VALUES (2, 1)
INSERT [dbo].[Sach_TheLoai] ([MaSach], [MaTL]) VALUES (2, 5)
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([MaTG], [TenTG], [GhiChu]) VALUES (1, N'Nguyễn Nhật Ánh', N'Nhà văn Việt Nam')
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [GhiChu]) VALUES (2, N'Dale Carnegie', N'Tác giả sách kỹ năng sống')
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [GhiChu]) VALUES (3, N'Hajime Isayama', N'Tác giả manga')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (1, N'Văn học')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (2, N'Kỹ năng sống')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (3, N'Truyện tranh (Manga/Comic)')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[VanPhongPham] ON 

INSERT [dbo].[VanPhongPham] ([MaVPP], [TenVPP], [DonGia], [SoLuong], [NhaCungCap], [NguongDatHang], [GhiChu], [Anh]) VALUES (1, N'Bút bi Thiên Long 027', 5000, 1000, N'Thiên Long', 100, N'Màu mực xanh', N'but_thien_long.jpg')
INSERT [dbo].[VanPhongPham] ([MaVPP], [TenVPP], [DonGia], [SoLuong], [NhaCungCap], [NguongDatHang], [GhiChu], [Anh]) VALUES (2, N'Vở kẻ ngang Campus 120 trang', 15000, 500, N'Campus', 50, NULL, N'butdoremon.jpg')
INSERT [dbo].[VanPhongPham] ([MaVPP], [TenVPP], [DonGia], [SoLuong], [NhaCungCap], [NguongDatHang], [GhiChu], [Anh]) VALUES (3, N'móc khoá qoobee', 10000, 50, N'qoobee', 50, N'qoobee siêu cute', N'mockhoaqobe.jpg')
SET IDENTITY_INSERT [dbo].[VanPhongPham] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__1F0318766A5408B1]    Script Date: 11/26/2025 5:00:48 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[DienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__D5B8C7F05AD43007]    Script Date: 11/26/2025 5:00:48 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [TongSoLuongMua]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [TongChiTieu]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((2)) FOR [MaQuyen]
GO
ALTER TABLE [dbo].[BangChamCong]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BangChamCong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDonVPP]  WITH CHECK ADD FOREIGN KEY([MaVPP])
REFERENCES [dbo].[VanPhongPham] ([MaVPP])
GO
ALTER TABLE [dbo].[ChiTietHoaDonVPP]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HoaDonNhapKho] ([MaHDN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaVPP])
REFERENCES [dbo].[VanPhongPham] ([MaVPP])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonNhapKho]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sach_TheLoai]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sach_TheLoai]  WITH CHECK ADD FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
ON DELETE CASCADE
GO
USE [master]
GO
